body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

/* -------------NAVBAR------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
/* -------------NAVBAR------------- */

/* -------------CONTAINER FOR ALL BOOKS------------- */
.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
/* -------------CONTAINER FOR ALL BOOKS------------- */

/* -------------EACH INDIVIDUAL BOOK------------- */
.innerCard {
  height: 310px;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-radius: 2px;
  /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  background: rgba(209, 51, 27, 0.7); */
}

.book-img {
  border-radius: 2px;
  height: 220px;
  width: auto;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
.book-img:hover {
  /* opacity: 0.3; */
  transform: scale(1.5);
}

.bookTitleLink {
  color: rgb(73, 79, 82);
  margin: 8px 0px 0px 0px;
}

.bookPriceLink,
.bookAuthorLink {
  color: rgb(73, 79, 82);
  margin: 4px 0px 0px 0px;
}

button {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  margin: 4px;
  padding: 5px;
}
/* -------------EACH INDIVIDUAL BOOK------------- */

/* -------------FOOTER------------- */
.Footer {
  /* position: fixed; */
  min-height: 5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(73, 79, 82);
  color: white;
  text-align: center;
}
.copyright {
  opacity: 0.2;
  margin: 0px 0px 10px 0px;
}
.names {
  opacity: 0.6;
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLinks {
  color: white;
  margin: 0px 5px;
}
/* -------------FOOTER------------- */

/* -------------LOGIN------------- */

/* -------------LOGIN------------- */
