body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.innerCard {
  height: 310px;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-radius: 2px;
  /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  background: rgba(209, 51, 27, 0.7); */
}

.book-img {
  border-radius: 2px;
  height: 220px;
  width: auto;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.Footer {
  position: fixed;
  min-height: 5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(73, 79, 82);
  color: white;
  text-align: center;
}
.copyright {
  opacity: 0.2;
  margin: 0px 0px 10px 0px;
}
.names {
  opacity: 0.6;
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLinks {
  color: white;
  margin: 0px 5px;
}
.bookTitleLink {
  color: rgb(73, 79, 82);
  text-decoration: none;
}
